.academics {

	#info {

		h4 {
			line-height: 1.8em;
		}

		.infoText {
			color: steelblue;
		}
	}

	#map{
		height: 75vh;

		path._selected_ {
			fill: crimson;
		}
		
	}
	
	.data-content {
		margin: 10px;
	}

	#pieGender {
		height: 25vh;

		.donut-arc {
			opacity: 0.2;

			&._selected_ {
				opacity: 1;
			}
		}
	}

	#lineYears {
		height: 15vh;

		.bar {
			opacity: 0.1;

			&._selected_ {
				opacity: 0.7;
				fill: orange;
			}
		}

	}

	.tip  {
		padding-right: 20px;	
	}

	.tooltip-inner {
		max-width: 75vw;
		text-align: left;
	}

	#levelSelector {
		height: 15vh;

		.bar {

			&._selected_ {
				fill: orange;
			}
		}
	}

}