<div class="row">
	<div id="emblem" class="col-md-2 col-sm-12">
		<img src="assets/escut.png">
	</div>
	<div class="col-md-10 col-sm-12">
		<h1>Tauler de dades de la ciutat de Barcelona</h1>
		<h2>Benvinguts!</h2>
		<p>Aquest tauler no és pas cap eina oficial de l'Ajuntament de Barcelona sino que forma part d'un Treball de Final de Grau sobre <i>Business Intelligence</i> de la 
		<a href="http://www.uoc.edu/portal/ca/index.html" target="_blank">Universitat Oberta de Catalunya (UOC)</a>.</p>

		<p>Les dades han estat obtingudes de la web <a href="http://opendata.bcn.cat/opendata/ca" target="_blank">OpenDataBCN</a>, el servei de dades obertes de l'Ajuntament de Barcelona i el codi obert es pot trobar a <a href="https://github.com/ElXaxe/Barcelona-Dashboard" target="_blank">Github</a>.</p>
	</div>
</div>
<div class="row">
	<img id="barcelona" src="assets/barcelona2.jpg">
</div>