
<h1>Informació</h1>

<h5>Tutor de l'assignatura: <bold>Humberto Andrés Sanz</bold> </h5>

<h3>Recursos utilitzats</h3>

<h4>Front-end</h4>

<ul>
	<li>HTML5 + CSS + Javascript</li>
	<li>
		<a href="http://sass-lang.com/" target="_blank">SaSS</a> per  Hampton Catlin, Natalie Weizenbaum, Chris Eppstein i altres.
	</li>
	<li>
		<a href="http://emberjs.com/" target="_blank">Ember.js</a> per Tilde Inc.
	</li>
	<li>
		<a href="http://square.github.io/crossfilter/" target="_blank">Crossfilter</a> per Square
	</li>
	<li>
		<a href="https://d3js.org/" target="_blank">D3.js</a> per Mike Bostock
	</li>
	<li>
		<a href="https://github.com/martgnz/bcn-geodata" target="_blank">Mapes de Barcelona</a> per Martín González
	</li>
</ul>

<h4>Back-end</h4>

<ul>
	<li>
		<a href="https://nodejs.org/en/" target="_blank">Node.js</a> per Node.js Foundation
	</li>
	<li>
		<a href="http://expressjs.com/" target="_blank">Express</a> per Node.js Foundation
	</li>
	<li>
		<a href="https://github.com/robconery/massive-js" target="_blank">Massive.js</a> per Rob Conery
	</li>
</ul>

<h4>El codi font d'aquesta aplicació es pot trobar a <a href="https://github.com/ElXaxe/Barcelona-Dashboard" target="_blank">Github</a>. </h4>